.DS_Store
.build-xcode/
.build-dmg-xcode/
TodoApp/.build/
TodoApp/.build-xcode/
TodoApp/.build-release/
TodoApp/TodoApp.xcodeproj/project.xcworkspace/xcuserdata/
TodoApp/TodoApp.xcodeproj/xcuserdata/
dist/
